
{escript_name, "priv/bin/custom-app"}.

{deps, [
    {'rebar-dist-plugin', ".*",
        {git, "../../../", "master"}}
]}.

{rebar_plugins, [rebar_dist_plugin]}.

{dist, [
    {format, tar},
    {outdir, "target"},  %% overrides default value `dist'
    {workdir, "/tmp/dist/.work"},
    %% our `rebar escript' output ends up here
    {incl_files, ["priv/bin/*"]}
]}.
