
{deps, [
    {rebar_retest_plugin, ".*"} 
]}.

{erl_opts, [{outdir, "ebin"}, 
            debug_info, 
            warnings_as_errors]}.

%% ReTest config
{plugin_dir, "deps/rebar_retest_plugin/src"}.
{plugins, [rebar_retest_plugin]}.
{retest_testdir, "inttest"}.
{retest_verbose, true}.
{retest_loglevel, debug}.

