%% Sample rebar.config demonstrating dist plugin configuration

{rebar_plugins, ['rebar_dist_plugin']}.

%% Simple inline configuration
{dist, [
    {format, zip},
    {outdir, "target"},  %% overrides default value `dist'
    {workdir, "/tmp/dist/.work"},
    {incl_files, ["bin/*.escript"]}   %% our `rebar escript' output ends up here
]}.

%% Including custom assembly configuration(s) from external sources - see dist.config.sample
{dist, [
    {config, "dist.config"},
    {assembly, mydist}
]}.

%% Using the built in assembly configuration(s)
{dist, [
    {assembly, release},  %% archives releases - (see rebar_rel_utils:is_rel_dir/1)
    {assembly, project},  %% archives the current project (ebin + priv)
    {assembly, sources},  %% archives the whole project directory *as is*
    {assembly, doc}  %% archives the project's doc folder
]}.
