
{deps, [
    {retest, ".*",
        {git, "https://github.com/hyperthunk/retest.git", "master"}},
    {rebar_retest_plugin, ".*",
        {git, "https://github.com/hyperthunk/rebar_retest_plugin.git", "master"}}
]}.

{erl_opts, [{outdir, "ebin"}, 
            debug_info, 
            warnings_as_errors]}.

%% ReTest config
{rebar_plugins, [rebar_retest_plugin]}.
{retest_testdir, "inttest"}.
{retest_verbose, true}.
{retest_loglevel, debug}.
