
{dist, [
    {assembly, "foo", [
        {format, tar},
        {vars_file, "myvars.vars"},
        {incl_files, [
            template({glob, "\\.sh$"}, "priv"),
            spec("src/foo.app.src", name("ebin/foo.app"))]},
        {incl_dirs, ["ebin", "priv"]},
        {excl_dirs, [glob("**/build")]},
        {excl_files, [
            glob("rebar_.*_plugin\\.beam$"),
            glob("ebin/foo.app")]}
    ]}
]}.
