
{dist, [
    {assembly, basename(), [
        {format, tar},
        {incl_dirs, [
            fnmatch(fun(Dir) -> is_rel_dir(Dir) end, 
                    fun(Dir) ->
                        BaseDir = filename:join(reldir(), basename()) ++ "/",
                        re:replace(Dir, BaseDir, "", [{return, list}])
                    end)
        ]},
        {excl_dirs, [glob("**/files")]},
        {excl_files, [
            glob("reltool.config$"), 
            glob("rebar.config$")
        ]},
        {version, relvsn()}
    ]}
]}.
