
{dist, [
    {assembly, basename(), [
        {format, tar},
        {incl_dirs, [
            fnmatch(fun(Dir) -> is_rel_dir(Dir) end, 
                    fun(Dir) -> 
                        re:replace(Dir, reldir(), "", [{return, list}])
                    end)
        ]},
        {excl_dirs, [glob("**/files")]},
        {excl_files, [
            glob("reltool.config$"), 
            glob("rebar.config$")
        ]},
        {version, relvsn()}
    ]}
]}.
