
{dist, [
    {assembly, release_name(), [
        {format, tar},
        {incl_dirs, [
            fnmatch(fun rebar_rel_utils:is_rel_dir/1, 
                    fun(Dir) -> filename:join(tl(filename:split(Dir))) end)
        ]},
        {excl_dirs, [glob("**/files")]},
        {excl_files, [glob("reltool.config$")]}
    ]}
]}.
